.output {
  text-align: justify;
  padding: 5px 10px;
  margin-bottom: 20px;
  border: 2px solid black;
  box-sizing: border-box;
  white-space: pre-wrap;
}

.slider {
    -webkit-appearance: none;
    width: calc(100% - 80px);
    height: 15px;
    border-radius: 8px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #1C1C1C;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #4CAF50;
    cursor: pointer;
}

.number {
  margin: auto;
  margin-left: 10px;
  padding: 4px 10px;
  width: 60px;
  box-sizing: border-box;
  border-radius: 8px;
  border: .5px solid black;
}

input[type=submit] {
    padding: 8px 16px;
    margin: 4px 2px;
    border-radius: 8px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    width: 100%;
    border: none;
}

input[type=submit]:hover {
    background-color: #1C1C1C;
    color: white;
    cursor: pointer;
}
