<!DOCTYPE html>
<html>

  <head>
    <title>Crypto Ipsum</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='index.css') }}">
  </head>

  <body>

    <h1 style="text-align:center">Crypto Ipsum Generator </h1>

    <div class="output">{{ jargon|safe }}</div>

    <form method="GET" action="/">
      <input class="slider" id="nRange" type="range" min="0" max="1000" value="{{ initN }}" name="n" />
      <input class="number" id="nNumber" min="0" max="1000" type="number" value="{{ initN }}" />
      <p></p>
      <input type="submit" value="Generate" />
    </form>

    <script>

      var range = document.getElementById('nRange');
      var field = document.getElementById('nNumber');

      range.addEventListener('input', function (e) {
        field.value = e.target.value;
      });
      field.addEventListener('input', function (e) {
        range.value = e.target.value;
      });

    </script>

  </body>
</html>
